---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import GradientOrbs from '~/components/ui/GradientOrbs';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <div class="relative min-h-screen bg-grid">
    <GradientOrbs client:load />
    <slot name="header">
      <Header {...headerData} isSticky showRssFeed showToggleTheme />
    </slot>
    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer {...headerData} />
    </slot>
  </div>
</Layout>
